#topNav{
    background-color: black;
}
.textWhite{
    color: white;
    font-size: medium;
}
.navSearch{
    display: flex;
    align-items: center;
    padding: 10px 150px 10px 150px;
}
#warlogo{
    width: 25px;
}
.headBar{
    align-items: center;
}
.gwlogo{
    width: 100px;
}
.searchBar{
    width: 300px;
    padding: 20px 200px 20px 200px
}
.unionJack{
    width: 75px;
    justify-content: end;
}
#mainNav{
    background-color: black;
    display: flex;
    padding: 10px 80px 10px 80px;
}
.rowFlex{
    display: flex;
    justify-content: space-between: 30px;
}
.newsImage{
    width: 50px;
    padding: 10px;

}
.heroImage{
    width: 100px;
}
.deliverFlex{
    display: flex;
    justify-content: space-evenly;
}
.deliverImage{
    width: 100px;
    padding: 30px;
}